.advice-modal {
  /* display: inline-block; */
  /* max-width: 200px; */
  /* border-radius: 10px; */
  /* padding: 10px; */
  /* outline: none; */
  /* font-size: 14px; */
}

.advice {
  margin-top: 8px;
  height: 28px;
  font-size: 14px;
}

.start-advice {
  color: rgb(255, 192, 17);
}

.rule-advice {
  color: rgb(88, 196, 0);
}

.error-advice {
  color: rgb(255, 78, 46);
}
