.animation-fadeIn {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animation-fadeOut {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn-firstHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn-firstHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.fadeIn-firstHalf {
  -webkit-animation-name: fadeIn-firstHalf;
  animation-name: fadeIn-firstHalf;
}

@keyframes addedInference-blinking {
  0% {
    background-color: #276331;
  }
  /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT*/
  50% {
    /* background-color: #ff3d50; */
    /* border: 5px solid #871924; */
    /* background-color: #55d66b; */
    /* border-left: 5px solid #126620; */
    /* background-color: #222291; */
    /* border: 5px solid #6565f2; */
  }

  100% {
    background-color: none;
  }
}

#demo-addedInference-blinking {
  /* NAME | TIME | ITERATION */
  animation: addedInference-blinking 1.2s normal;
  -webkit-animation: addedInference-blinking 1.2s normal;
}

@keyframes removableInference-blinking {
  0% {
    background-color: none;
  }
  100% {
    background-color: #ff3d503a;
  }
}
.removableInference-blinking {
  /* NAME | TIME | ITERATION */
  animation: removableInference-blinking 0.8s both;
  -webkit-animation: removableInference-blinking 0.8s both;
}
@keyframes unremovableInference-blinking {
  0% {
    background-color: #ff3d503a;
  }
  100% {
    background-color: none;
  }
}
.unremovableInference-blinking {
  /* NAME | TIME | ITERATION */
  animation: unremovableInference-blinking 0.8s both;
  -webkit-animation: unremovableInference-blinking 0.8s both;
}

@keyframes selectedInference-blinking {
  0% {
    background-color: none;
  }
  100% {
    background-color: #121247;
  }
}
.selectedInference-blinking {
  /* NAME | TIME | ITERATION */
  animation: selectedInference-blinking 0.8s both;
  -webkit-animation: selectedInference-blinking 0.8s both;
}
@keyframes unselectedInference-blinking {
  0% {
    background-color: #121247;
  }
  100% {
    background-color: none;
  }
}
.unselectedInference-blinking {
  /* NAME | TIME | ITERATION */
  animation: unselectedInference-blinking 1s both;
  -webkit-animation: unselectedInference-blinking 1s both;
}
