.animation-fadeIn {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animation-fadeOut {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn-firstHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn-firstHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.fadeIn-firstHalf {
  -webkit-animation-name: fadeIn-firstHalf;
  animation-name: fadeIn-firstHalf;
}

@-webkit-keyframes fadeOut-lastInferenceAdded {
  0% {
    opacity: 1;
    z-index: 0;
    background-color: green;
    /* position: absolute; */
    width: 100px;
    height: 30px;
  }
  100% {
    opacity: 0;
    z-index: 0;
    background-color: green;
    /* position: absolute; */
    width: 100px;
    height: 30px;
  }
}

@keyframes wesh-blinking {
  0% {
    /* background-color: #55d66b;
            /* border-left: 5px solid #126620; */
  }
  /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT*/
  50% {
    /* background-color: #ff3d50; */
    background-color: #276331;
    /* border: 5px solid #871924; */
  }

  100% {
    background-color: none;
    /* background-color: #222291; */
    /* border: 5px solid #6565f2; */
  }
}
#demo-wesh {
  /* NAME | TIME | ITERATION */
  animation: wesh-blinking 1s normal;
  -webkit-animation: wesh-blinking 1s normal;
}
