body {
  /* font-family: Futura Std; */
  font-family: sans-serif;
  align-items: center;
  flex-direction: row;
  margin-left: 276px;
  margin-right: 276px;
  background-color: black;
  color: white;
  font-size: 20px;
}

header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer {
  margin-top: 20px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  border: 3px white solid;
  box-sizing: border-box;
}

.anarchy {
  background: -moz-linear-gradient(0% 100% 122deg, #000000, #ff0000 0%);
}

.main-auteurs-contact {
  font-size: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 558px;
  height: 350px;
  border: 1px solid white;
}

h1 {
  font-size: 26px;
  font-weight: 1;
  font-style: italic;
  text-align: center;
  line-height: 27px;
  color: white;
}

h2 {
  color: white;
}

.icon {
  font-size: 35px;
  color: white;
}

.icon:hover {
  color: red;
}

.nav-list {
  display: flex;
  justify-content: column;
  justify-content: center;
}

.nav-list > li {
  display: flex;
  justify-content: row;
  margin-left: 50px;
}

.setOfPropositionsButtons {
  display: flex;
  justify-content: flex-end;
}

#locution {
  color: white;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#traduction-locution {
  margin: 5px;
  color: #606060;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

#alphabetlatin {
  margin: 5px;
  color: #606060;
  font-size: 14px;
  text-align: center;
}

#auteur-et-note {
  margin: 3px;
  color: white;
  font-size: 14px;
  text-align: center;
}
