body {
  /* font-family: "Futura Std"; */
  font-family: sans-serif;
  align-items: center;
  flex-direction: row;
  margin: 0 14%;
  background-color: rgb(10, 10, 10);
  /* background-color: black */
  color: rgb(245, 245, 245);
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.website-title {
  display: flex;
  position: relative;
  font-size: 26px;
  font-style: italic;
  justify-content: center;
  text-align: center;
}

.website-title .website-version {
  display: flex;
}

.website-version {
  position: absolute;
  font-size: 13px;
  margin-top: 57px;
}

.nav-list {
  display: flex;
  justify-content: column;
  justify-content: center;
  /* margin-bottom: 1 0px; */
}

.nav-list > li {
  display: flex;
  justify-content: row;
  margin-left: 35px;
}

.nav-list > li a {
  margin-right: 30px;
}

.header-nav-list {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
}

.header-nav-list a {
  margin-right: 30px;
}

footer {
  margin-top: 20px;
}

.main-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.anarchy {
  background: -moz-linear-gradient(0% 100% 122deg, #000000, #ff0000 0%);
}

.anarchy-square {
  background: -moz-linear-gradient(0% 100% 135deg, #000000, #ff0000 0%);
}

.main-auteurs-contact {
  margin: 0px 276px;
}

.blocAuteur {
  width: 540px;
  height: 360px;
  font-size: 26px;
  border: 1px solid white;
  position: relative;
}

.anarchy-flag {
  width: 100%;
  position: absolute;
}

.blocAuteur p {
  text-align: center;
  align-content: center;
  position: absolute;
  margin: 20px;
  padding: 20px;
  margin-top: 125px;
  margin-left: 70px;
  font-size: 18px;
}

h2 {
  margin-top: 15px;
  /* color: white; */
  font-size: 24px;
  /* margin: 0px; */
  padding: 0px;
}

h3 {
  /* color: white; */
  font-size: 24px;
  /* margin: 0px; */
  padding: 0px;
}

.pageTitle {
  text-align: center;
  margin-top: 20px;
}

.icon {
  color: white;
}

.hidden {
  opacity: 0;
}

.icon-menu {
  font-size: 35px;
}

.icon:hover {
  color: red;
  opacity: 1;
}

.setOfPropositionsButtons {
  display: flex;
  justify-content: flex-end;
}

#locution {
  color: white;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#traduction-locution {
  margin: 5px;
  color: #606060;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

#alphabetlatin {
  margin: 5px;
  color: #606060;
  font-size: 14px;
  text-align: center;
}

#auteur-et-note {
  margin: 3px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.selectable {
  border: 1px transparent solid;
}

.selectable:hover {
  border: 1px solid red;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  80% {
    opacity: 0;
  }
}

/* Section du point d'interrogation informant l'utilisateur sur tel ou tel truc */

.question-mark-button {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.question-mark-button:hover .question-mark {
  display: flex;
  flex-direction: column;
}

.question-mark-title {
  margin-bottom: 3px;
  font-style: italic;
}

.question-mark {
  position: absolute;
  color: white;
  font-size: 16px;
  width: 350px;
  left: 130%;
  margin-top: 15px;
  display: none;
  flex-direction: column;
}

.question-mark-window-sandbox {
  margin: 62px 100px;
  border: 1px blue solid;
  background-color: rgb(24, 24, 24);
  z-index: 100;
  font-family: sans-serif;
  position: absolute;
}

.question-mark-window-sandbox > ul {
  display: flex;
  justify-content: center;
}

.question-mark-content {
  display: flex;
  flex-direction: row;
  padding: 8px;
  text-align: center;
  font-weight: 500;
  font-family: sans-serif;
}

/* Section de l'alphabet grec */

.greek-alphabet-choices {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 950px;
  font-size: 18px;
}

.greek-alphabet-choice {
  border: 1px solid #44423f;
  background-color: #31302e;
  padding: 3px;
  margin: 3px;
  min-width: 25px;
  text-align: center;
}

.greek-alphabet-choice-active {
  border: 1px solid #6b665e;
  background-color: #645940;
}

.greek-alphabet-choice:hover {
  border: 1px solid #493d3a;
  background-color: #49392e;
}

.greek-alphabet-box {
  max-width: 1000px;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid rgb(39, 35, 35);
  margin-bottom: 5px;
}

.greek-alphabet-box-victory {
  border: 3px solid rgb(97, 124, 87);
  background-color: rgb(53, 65, 49);
}

.greek-alphabet-square {
  border: 1px solid #44423f;
  background-color: #31302e;
  padding: 3px;
  margin: 3px;
  min-width: 25px;
  text-align: center;
}

.greek-alphabet-square:hover {
  border: 1px solid #493d3a;
  background-color: #49392e;
}

.greek-alphabet-button-solution {
  border: 1px solid #a8523c;
  background-color: #572e28;
  padding: 3px;
  margin: 3px;
  min-width: 25px;
  text-align: center;
}

.greek-alphabet-button-solution:hover {
  border: 1px solid #c43f28;
  background-color: #834122;
}

.greek-alphabet-square-solution {
  border: 1px solid #242321;
  background-color: #1b1a18;
  color: #817e78;
  padding: 3px;
  margin: 3px;
  min-width: 25px;
  text-align: center;
}

/* Section au sujet de la page secrète des locutions */

.all-locutions {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 16px;
}

.single-locution {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding: 4px;
  margin-bottom: 10px;
}

.single-line-locution {
}

.greek-color {
  color: rgb(196, 160, 94);
}

.french-color {
  color: rgb(228, 190, 114);
}
