.setOfRules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 70px;
}

.setOfRules-twoCharacters {
  max-height: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

/* .pairOfRules { // Les "pairOfRules" sont les règles d'introduction et d'élimination d'un même symbole (etc : ~i et ~e). Je voulais les regrouper mais c'est trop trop trop le bordel de faire ça. Je le ferai sans doute pas. (Ca aurait été dans ButtonRuleMaker.)
  display: flex;
  padding: 30px;
  flex-direction: row;
} */

.singleRule {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
}

.tinyRule {
  height: 36px;
  width: 36px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.fatRule {
  height: 36px;
  width: 50px;
  margin-top: 6px;
  margin-right: 6px;
}

.unclickableRule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(168, 168, 168);
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 5px;
}

.all-buttons-about-inferences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-buttons-about-inferences > .icon {
  font-size: 26px;
  margin-bottom: 10px;
  width: 30px;
}

.all-toggle-buttons-about-inferences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50px;
  margin-left: 20px;
}

.all-toggle-buttons-about-inferences > i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.longSelected {
  /* uniquement pour l'élimination de la disjonction, pour le moment */
  background-color: hsla(49, 100%, 72%, 0.171);
  color: black;
  border: 1px solid hsl(49, 100%, 72%);
}

.testRule {
  border: 1px solid rgb(121, 121, 121);
  color: rgb(121, 121, 121);
}
.selected {
  /* border: 1px solid red; */
  background-color: hsl(0, 100%, 24%);
}

#negationElimination {
  font-size: 16px;
}

.tiny-info-rule {
  /* concerne le petit oeil qui indique si la détection des inférences fonctionne avec cette règle */
  position: absolute;
  /* margin-top: -5px; */
  /* margin-left: -5px; */
  font-size: 12px;
}
