.button-menu {
  width: 240px;
  font-size: 22px;
  border: solid 1px white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  /* inline-size: 100%; */
}

.header-button {
  color: #838383;
  height: 35px;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 35px;
  width: 35px;
  border: solid 1px white;
}

.info-button {
  font-stretch: ultra-expanded;
  font-weight: 900;
  color: red;
  unicode-bidi: bidi-override;
}

.info-button-menu {
  height: 40px;
  font-size: 18px;
}
.info-button-menu-list {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flag {
  width: 55px;
}
