.globalSetOfRules {
  /*style de l'ensemble des infos de l'exo en cours ou du sandbox*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
  /* padding: 10px; */
  /* width: 400px; */
  /* border: rgb(43, 226, 180) solid 1px; */
}

.specificSetOfRules {
  /* border: greenyellow solid 1px; */
  display: flex;
  flex-direction: row;
  padding: 3px;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 260px;
  flex-wrap: wrap;
  /* align-content: center;
  /* display: flex;
  flex-direction: row; */
}
.specificSetOfRules-title {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
  /* color: rgb(85, 47, 102); */
  margin-top: 8 px;
}

.setOfRules-twoCharacters {
  max-height: 264px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

/* .pairOfRules { // Les "pairOfRules" sont les règles d'introduction et d'élimination d'un même symbole (etc : ~i et ~e). Je voulais les regrouper mais c'est trop trop trop le bordel de faire ça. Je le ferai sans doute pas. (Ca aurait été dans ButtonRuleMaker.)
  display: flex;
  padding: 30px;
  flex-direction: row;
} */

.singleRule {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  margin-right: 5px;
}

.tinyRule {
  height: 36px;
  width: 36px;
}

.fatRule {
  height: 36px;
  width: 50px;
}

.unclickableRule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(168, 168, 168);
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 5px;
}

.all-set-buttons-about-inferences {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 22px;
}

.set-buttons-about-inferences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  /* background-color: rgb(29, 29, 29); */
  padding: 7px;
  border-radius: 5px;
}

.set-toggle-buttons-about-inferences > i {
}

.longSelected {
  /* uniquement pour l'élimination de la disjonction, pour le moment */
  background-color: hsla(49, 100%, 72%, 0.171);
  color: black;
  border: 1px solid hsl(49, 100%, 72%);
}

.testRule {
  border: 1px solid rgb(121, 121, 121);
  color: rgb(121, 121, 121);
}
.selected {
  /* border: 1px solid red; */
  background-color: hsl(0, 100%, 24%);
}

#negationElimination {
  font-size: 16px;
}

.tiny-info-rule {
  /* concerne le petit oeil qui indique si la détection des inférences fonctionne avec cette règle */
  position: absolute;
  /* margin-top: -5px; */
  /* margin-left: -5px; */
  font-size: 12px;
}
