.setOfRules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
}

/* .pairOfRules { // Les "pairOfRules" sont les règles d'introduction et d'élimination d'un même symbole (etc : ~i et ~e). Je voulais les regrouper mais c'est trop trop trop le bordel de faire ça. Je le ferai sans doute pas. (Ca aurait été dans ButtonRuleMaker.)
  display: flex;
  padding: 30px;
  flex-direction: row;
} */

.singleRule {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
}

.tinyRule {
  height: 36px;
  width: 36px;
  margin-bottom: 6px;
}

.fatRule {
  height: 36px;
  width: 50px;
  margin-top: 6px;
}

.all-button-about-inferences {
  display: flex;
  width : 1000px;
  border:1px solid blue;
  justify-content: space-around;
}

.all-button-about-inferences > .icon {
  font-size:26px;
  margin-bottom: 10px;
}