.button-menu {
  width: 240px;
  font-size: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  color: black;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.header-button {
  color: #606060;
  height: 25px;
  background-color: #272727;
  border-radius: 0px;
}

.main-button {
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center justify;
  align-content: center;
  font-style: none;
  border: 3px white solid;
}

#false-button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

/* #author-button {
  width: 50%;
} */
