.button-menu {
  width: 240px;
  font-size: 22px;
  border: solid 1px white;
  color: black;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  /* inline-size: 100%; */
}

.header-button {
  color: #606060;
  height: 25px;
  background-color: #272727;
  border-radius: 0px;
}

#false-button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

/* #author-button {
  width: 50%;
} */
