.tuto-color {
  background-color: #4dff6a;
}

.prop-color {
  background-color: #ff7b7b;
}

.forma-color {
  background-color: #7b9eff;
}

.pred-color {
  background-color: #a27bff;
}

.option-color {
  background-color: #fff89c;
}
