.tuto-color {
  background-color: #7bff7b;
}

.prop-color {
  background-color: #ff7b7b;
}

.forma-color {
  background-color: #7b84ff;
}

.pred-color {
  background-color: #a27bff;
}

.option-color {
  background-color: #fff89c;
}
