.info-color {
  background-color: black;
  color: white;
}

.prop-color {
  background-color: #ff3434;
}

.forma-color {
  background-color: #7b9eff;
}

.pred-color {
  background-color: #a27bff;
}

.user-color {
  /* background-color: rgba(255, 156, 75, 0.15); */
  border: 1px solid rgb(255, 148, 60);
  color: rgb(255, 148, 60);
}

.unavailable-yet {
  opacity: 0.2;
}

.deactivated {
  color: rgba(255, 255, 255, 0.5);
}

.deactivated:hover {
  color: rgba(255, 255, 255, 0.5);
}
