.main-calcul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  align-items: center;
}

.deducer {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  justify-content: center;
}

.mini-header-deducer {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  font-size: 28px;
}

.setOfTextAndIcon {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mini-header-deducer > li {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.infos-and-deduction-itself {
  width: 400px;
}

.deduction {
  display: flex;
  flex-direction: column;
  height: 290px;
  overflow: auto;
}

.usablesRules {
  /*style de l'ensemble des infos de l'exo en cours quand on est dans la page d'une déduction*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2px;
}

.exercise-title {
  font-size: 16px;
  text-align: center;
}

.setPremissesConclusion {
  /* Concerne la box qui contient toutes les infos d'un exo. Aussi bien les termes introductifs, que les boutons de prémisses, que la conclusion, ou autre.*/
  font-style: italic;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  /* margin: 2px 0px 2px 0px; */
}

.setPremissesConclusion > li {
  padding: 4px;
}

.premisse {
  /*style des prémisses dans les exos, spécifiquement*/
  /* border: 1px transparent solid; */
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 4px;
}

#conclusion {
  font-style: normal;
  padding: 4px;
}

#minimal-line-number {
  font-size: 12px;
  margin-top: 2px;
}

/* Style des significations possibles */

.set-meaning {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-bottom: 3px;
}

.no-meaning-shown {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 5px;
}

.possible-meaning {
  font-size: 14px;
  margin-left: 5px;
}

.possible-meaning > li {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

#feather-meaning {
  /* position: fixed; */
  line-height: 60px;
  text-align: center;
  font-size: 28px;
}
/* Style des boutons des solutions des exercices */

.solution-button {
  border: 1px solid white;
  width: 6px;
  display: inline-flex;
  margin-bottom: 6px;
  margin-right: 8px;
  padding: 3px 8px;
  justify-content: center;
}

.solution-button:hover {
  border: 1px solid green;
  color: green;
}

/* Autres trucs, pour les pages spéciales */

.fat-infos-and-deduction {
  width: 550px;
}

/* Les indicateurs ci-dessous sont générés par InferenceScanner et concernent la détection des inférences compatibles avec l'utilisation de la règle en question */
.setAdequacyArrows {
  display: flex;
  justify-content: space-evenly;
  width: 30px;
  position: absolute;
  margin-left: 20px;
}
.indicator {
  height: 26px;
  border: 2px solid transparent;
  /* line-height: 20 px; */
  text-align: center;
  margin-left: 4px;
}
.indicator-data-first-argument-alone {
  color: rgb(105, 105, 105);
}
.indicator-data-first-argument {
  color: rgb(56, 255, 72);
}
.indicator-data-second-argument {
  color: rgb(0, 124, 10);
}
.indicator-data-hypothesis {
  text-shadow: -1px 0 rgb(0, 140, 255), 0 1px rgb(0, 140, 255),
    1px 0 rgb(0, 140, 255), 0 -1px rgb(0, 140, 255);
  color: rgb(0, 140, 255);
}
.indicator-inadequate-argument {
  /* argument sur lequel l'utilisateur a cliqué, alors que c'est incompatible avec la règle en cours */
  color: rgb(255, 50, 50);
}
.indicator-argument-previous-hypothesis {
  /* argument qui provient d'une hypothèse non close, et précédant celle en cours */
  color: rgb(255, 255, 255);
}
.indicator-argument-closed-hypothesis {
  /* argument qui provient d'une hypothèse close */
  color: rgb(255, 0, 0);
}
