.main-calcul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  border: 3px white solid;
  flex: 1;
}

.deducer {
  display: flex;
  flex-direction: row;
  border: 10px red solid;
  flex: 1;
}

.deduction {
  border: 10px #00a2e8 solid;
  display: flex;
  flex-direction: column;
  height: 280px;
}

.usablesRules {
  /*style de l'ensemble des infos de l'exo en cours quand on est dans la page d'une déduction*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 10px purple solid;
}

.setPremissesConclusion {
  /* Concerne la box qui contient toutes les données d'un exo. Aussi bien les termes introductifs, que les boutons de prémisses, que la conclusion, ou autre.*/
  font-style: italic;
  display: flex;
  justify-content: row;
  border: 10px green solid;
}

.premisses {
  /*style des prémisses et conclusion dans les exos, spécifiquement*/
  display: "flex";
  flex-direction: "column";
  align-content: center;
  margin: 0 5px;
  padding: 0 5px;
  border: 1px white solid;
}

.premisses:hover {
  background-color: #ff7b7b;
  text-shadow: 0 0 20px rgb(255, 0, 0, 0.9);
}
.premisses:click {
  background-color: red;
  text-shadow: 0 0 20px rgb(255, 0, 0, 0.9);
}

#conclusion {
  /*style des prémisses et conclusion dans les exos, spécifiquement*/
  display: "flex";
  flex-direction: "column";
  align-content: center;
  border: 1px white solid;
}
