.main-calcul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  border: 3px white solid;
}

.exercise {
  display: flex;
  flex-direction: row;
  align-content: center;
  border: 10px red solid;
  width: 550px;
}

.deduction {
  border: 10px #00a2e8 solid;
  display: flex;
  flex-direction: row;
}

.informationsOnCurrentExercice {
  /*style de l'ensemble des infos dans les co*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 10px purple solid;
}

.setPremissesConclusion {
  font-style: italic;
  display: flex;
  justify-content: row;
  border: 10px green solid;
}

#premisses {
  /*style des prémisses et conclusion dans les exos, spécifiquement*/
  display: "flex";
  flex-direction: "column";
  align-content: center;
  border: 3px white solid;
}

#conclusion {
  /*style des prémisses et conclusion dans les exos, spécifiquement*/
  display: "flex";
  flex-direction: "column";
  align-content: center;
  border: 3px white solid;
}
