.main-exercises {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 216px;
  margin-right: 216px;
}

.list-exercises {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: wrap;
  margin: 10px;
  padding: 10px;
  /* border: 1px white solid; */
}

.single-exercise {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  font-style: 30px;
  color: white;
  font-weight: bold;
  width: 35px;
  height: 35px;
  margin: 4px;
}

.single-exercise:hover {
  color: red;
  border: 1px red solid;
}

.disabled-exercise {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px grey solid;
  background-color: rgb(56, 56, 56);
  color: grey;
  font-style: 30px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  margin: 4px;
}

.disabled-exercise:hover {
  color: darkred;
  border: 1px darkred solid;
}

.box-info-exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 200px;
  /* border: 1px white solid; */
  font-size: 16px;
}

.box-info-exercise li {
  color: rgb(186, 174, 255);
  margin: 5px;
  display: flex;
  flex-direction: row;
}
