.main-fallacy {
  padding: 20px;
  /* border: 1px solid red; */
}

.fallacy-instruction {
  font-size: 15px;
  font-style: italic;
}

.fallacy-randomDescription {
  color: rgb(97, 97, 255);
  font-size: 14px;
  padding: 12px;
  width: 500px;
  margin-top: 10px;
  text-justify: center;
  text-align: center;
  border: 1px solid rgba(107, 97, 255, 0.541);
  background-color: rgba(97, 97, 255, 0.171);
}
.set-fallacy-button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* border: 1px solid purple; */
  width: 1200px;
  flex-wrap: wrap;
}

.fallacy-button {
  font-size: 15px;
  margin: 2px;
  padding: 7px;
  border: 1px solid rgb(97, 97, 255);
  background-color: rgba(97, 97, 255, 0.25);
  display: flex;
}

.fallacy-button:hover {
  border: 1px solid rgb(97, 165, 255);
  background-color: rgba(97, 165, 255, 0.25);
}

.fallacy-button-rightfullySelected {
  border: 1px solid rgb(97, 255, 163);
  background-color: rgba(97, 255, 163, 0.25);
}
.fallacy-button-wrongfullySelected {
  border: 1px solid rgb(255, 97, 118);
  background-color: rgba(255, 97, 118, 0.25);
}
.fallacy-button-cheatfullySelected {
  border: 1px solid rgb(255, 231, 97);
  background-color: rgba(255, 231, 97, 0.25);
}

/* Section de la liste des sophismes, qui apparaît dans le BasicReactModal */

.set-all-fallacy-information {
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
  align-content: flex-start baseline;
  flex-wrap: wrap;
  width: 1280px;
  height: 600px;
  overflow: auto;
}

.single-fallacy-information {
  border: 1px solid rgb(97, 97, 255);
  background-color: rgba(97, 97, 255, 0.25);
  width: 400px;
  /* height: 200px; */
  margin: 5px;
}

.title-single-fallacy-information {
  font-size: 15px;
  padding: 3px;
  display: flex;
}

.alternateTitle-single-fallacy-information {
  font-size: 13px;
  color: rgb(180, 180, 180);
}

.definition-single-fallacy-information {
  font-size: 14px;
  padding: 10px;
  text-justify: center;
  text-align: center;
}
.deductive-bullet {
  color: red;
}
.irrelevant-bullet {
  color: blue;
}
.denial-bullet {
  color: green;
}
.inductive-bullet {
  color: jaune;
}
.deductive-bullet,
.irrelevant-bullet,
.denial-bullet,
.inductive-bullet {
  margin-right: 3px;
}
