.inferenceGlobal {
  border: 1px transparent solid;
  display: flex;
  flex-direction: row;
  padding: 4px;
  font-size: 20px;
}

.inferenceNumber {
  color: #86ffab;
  width: 32px;
}

.inferenceItself {
  color: #93b5ff;
  width: 180px;
  margin-right: 10px;
}

.inferenceItself-color {
  color: #93b5ff;
}

.inferenceCommentary {
  color: #ffb58e;
}

.inferenceGlobal:hover {
  border: 1px solid red;
}

.inferenceGlobal:hover .hypothesis-level {
  color: purple;
}

/* SECTION DE L'HYPOTHESE */
.hypothesis-level {
  width: 22px;
  margin-right: 6px;
  color: red;
}

/* .hypothesis-line {
} */

.hypothesisItself {
  /* text-decoration: underline; */
  color: rgb(0, 140, 255);
}

.concluding-inference-blinking {
  color: rgb(0, 209, 0);
  animation: slow-blinker 3s linear infinite;
  /* font-weight:bold; */
  /* border:3px solid green; */
  /* text-decoration: underline; */
}

.awaiting-an-inference-blinking {
  animation: very-slow-blinker 3s linear infinite;
  font-size: 13px;
  align-self: center;
  text-align: center;
  color: white;
  width: 180px;
}

.awaiting-an-longStored-inference-blinking {
  animation: very-slow-blinker 3s linear infinite;
  font-size: 13px;
  align-self: center;
  text-align: center;
  color: hsl(49, 100%, 72%);
  width: 180px;
}

.inference-longStored {
  /* homologue "long" de .inferenceItself */
  color: hsl(49, 100%, 72%);
  width: 180px;
  margin-right: 10px;
}

@keyframes slow-blinker {
  50% {
    opacity: 0.75;
  }
}

@keyframes very-slow-blinker {
  50% {
    opacity: 0.3;
  }
}
