.inferenceGlobal {
  border: 1px transparent solid;
  color : red;
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.inferenceNumber {
  color: #86ffab;
  margin-right: 10px;
}

.infNum-color {
  color: #86ffab;
}

.inferenceItself {
  color: #93b5ff;
  width: 150px;
  margin-right: 10px;
}

.infItself-color {
  color: #93b5ff;
}

.inferenceCommentary {
  color: #ffb58e;

}

.inferenceGlobal:hover {
  border:1px solid red;
}

.concluding-inference {
  font-weight:bold;
}