.inferenceGlobal {
  border: 1px transparent solid;
  color : red;
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.inferenceNumber {
  color: #86ffab;
  width:32px;
}

.inferenceItself {
  color: #93b5ff;
  width: 180px;
  margin-right: 10px;
}

.inferenceCommentary {
  color: #ffb58e;

}

.inferenceGlobal:hover {
  border:1px solid red;
}


/* SECTION DE L'HYPOTHESE */
.hypothesis-level {
  width : 22px;
  margin-right:6px;
  /* background-color: white; */
}

.hypothesis-line {
  background-color : white;
}

.hypothesisItself {
  /* text-decoration: underline; */
  color : rgb(0, 140, 255);
}

.concluding-inference-blinking {
  color :rgb(0, 209, 0);
  animation: slow-blinker 3s linear infinite;
  /* font-weight:bold; */
  /* font-size:24px; */
  /* border:3px solid green; */
  /* font-style: italic; */
  /* text-decoration: underline; */
}

@keyframes slow-blinker {  
  50% { opacity: 0.75; }
}