.my-modal-button {
  position: relative;
  /* display: flex; */
}

.my-modal {
  /* position: absolute; */
  /* top: 250px; */
  /* left: 400px; */
  /* right: 100px; */
  /* bottom: 250px; */
  display: inline-block;
  /* max-height:150px; */
  /* min-width: 100px; */
  /* max-width:250px;  */
  border: 1px solid rgba(255, 255, 255, 0.137);
  box-shadow: -5px 5px 50px rgba(255, 255, 255, 0.137);
  /* box-shadow: -5px 5px 10px rgb(43, 43, 43); */
  border-radius: 10px;
  /* -webkit-overflow-scrolling: touch; */
  padding: 10px;
  outline:none;
}

.my-modal-portal {
  /* margin :300px; */
  /* background-color :greenyellow; */
  /* color : greenyellow; */
}

.my-modal-overlay {
  margin-top:-500px;
  margin-left:40px;
  /* position: fixed; */
  /* top: 10;
  left: 10;
  right: 10;
  bottom: 10; */
  /* background-color: rgba(255, 255, 255, 0.75); */
}

.my-modal-window {
  /* border: 1px solid purple; */
}

.my-modal-ruleInstruction {
  font-size:14px;
  max-width: 220px;
  text-align: center;
}

.my-modal-ruleName{
  font-size:20px;
  display: flex;
  justify-content: center;
  margin-bottom : 10px;
}

.my-modal-all-buttons {
  display:flex;
  justify-content: center;
}

.my-modal-button {
  color : white;
  margin-right:10px;
}


.my-modal-all-arguments {
  color : #ff9393;
    margin: 1px;
  padding: 1px;
}

.my-modal-single-argument {
  display: flex;
  flex-direction: row;
  margin: 1px;
  padding: 1px;
}