.rule-modal-button {
  position: relative;
  /* display: flex; */
}

.rule-modal {
  /* position: absolute; */
  /* top: 250px; */
  /* left: 400px; */
  /* right: 100px; */
  /* bottom: 250px; */
  display: inline-block;
  /* align-items: center;  
  align-content: center;
  justify-content: center;
  text-align: center;
  align-self: center; */
  /* max-height:150px; */
  /* min-width: 100px; */
  background-color: black;
  max-width: 270px;
  border: 1px solid rgba(255, 255, 255, 0.137);
  box-shadow: -5px 5px 50px rgba(255, 255, 255, 0.237);
  /* background-color: rgba(0, 0, 0, 0.150); */
  border-radius: 10px;
  /* -webkit-overflow-scrolling: touch; */
  padding: 10px;
  outline: none;
}

.rule-modal-ended-well {
  background-color: rgba(0, 255, 0, 0.15);
  border: 1px solid transparent;
  box-shadow: -5px 5px 50px rgba(0, 255, 0, 0.237);
  opacity: 0;
}

.rule-modal-ended-badly {
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid transparent;
  box-shadow: -5px 5px 50px rgba(255, 0, 0, 0.237);
  opacity: 0;
}

.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 600ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}
.rule-modal-portal {
  /* margin:300px; */
  margin-top: -500px;
  /* margin-left:40px; */
  /* background-color:greenyellow; */
}

.rule-modal-overlay {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* background-color: rgba(255, 255, 255, 0.75); */
}

.rule-modal-window {
  /* border: 1px solid purple; */
}

.rule-modal-ruleInstruction {
  font-size: 14px;
  text-align: center;
}

.rule-modal-ruleName {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rule-modal-all-buttons {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
}

.rule-modal-button {
  color: white;
  margin-right: 10px;
}

.rule-modal-button:hover {
  color: red;
}

.rule-modal-all-arguments {
  color: #ff9393;
  font-size: 20px;
}

.rule-modal-single-argument {
  display: flex;
  flex-wrap: nowrap;
  /* flex-direction: row;  */
  margin: 1px;
  padding: 1px;
  /* flex-wrap: nowrap; */
  word-wrap: nowrap;
  /* line-break: loose; */
  /* font-size:20px; */
}

.rule-modal-single-argument > p:first-child {
  margin-right: 8px;
}

.infNum-modal {
  color: #86ffab;
  margin-right: 10px;
}

.infItself-modal {
  color: #93b5ff;
}

.rule-modal-all-choices {
  display: flex;
  justify-content: space-evenly;
}

.rule-modal-one-choice {
  border: 1px solid transparent;
  padding: 6px;
  color: #93b5ff;
}

/* SECTION DE LA RULE-MODAL HYPOTHETIQUE */

.rule-modal-hypothesis {
  display: inline-block;
  max-width: 280px;
  background-color: rgba(0, 0, 255, 0.15);
  box-shadow: -5px 5px 50px rgba(0, 89, 255, 0.237);
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.rule-modal-all-button-hypothesis > ul {
  display: flex;
  justify-content: center;
}

.rule-modal-hypothesis-button-character {
  display: flex;
  padding: 4px;
  width: 20px;
  justify-content: center;
}

.rule-modal-empty-hypothesis {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 16px;
}

.possible-hypothesis-itself {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
