.rule-popover-button {
  position: relative;
  display: flex;
  flex-direction: row;
}

.rule-popover-button:hover .rule-popover {
  display: flex;
  flex-direction: column;
}

.rule-popover {
  /* background-color: white; */
  color: white;
  font-size: 16px;
  width: 350px;
  position: absolute;
  left: 130%;
  display: none;
  overflow: auto;
  flex-direction: column;
}

.rule-popover-rulename {
  margin-bottom: 10px;
  background-color: black;
}

.rule-popover-content {
  background-color: #313147;
  display: flex;
  flex-direction: row;
}

.rule-popover-description {
  padding: 8px;
  text-align: center;
}

.rule-popover-longDescription {
  font-size: 14px;
}

.rule-popover-array {
  /* flex-direction: column;
  background-color: rgb(82, 50, 50);
  border-left: solid 4px black;
  width: 300px;
  padding: 10px; */
  display: none;
  /* désactivé pour le moment puisque flemme d'afficher correctement l'array d'info */
}
