#buttonKeyboardPremisses {
  margin: 0px 8px 0px 34px;
  z-index: 11;
}

#buttonEraseAllPremisses {
  z-index: 11;
}

#buttonKeyboardConclusion {
  margin: 0px 8px;
}

.possible-premisse-sandbox {
  color: white;
  font-size: 16px;
  display: none;
}

#slidingMenuPossiblePremisses {
  margin-left: 51px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 130px;
}

#slidingMenuPossiblePremisses:hover .possible-premisse-sandbox {
  /* quand on met sa souris sur le bouton, les prémisses possibles apparaissent */
  background-color: #333;
  display: flex;
  justify-content: center;
}
#slidingMenuPossiblePremisses:first-child {
  width: 50px;
}
#slidingMenuPossiblePremisses .possible-premisse-sandbox:hover {
  /* quand on met sa souris sur les prémisses possibles, elles deviennent grises */
  background-color: #777;
}
#slidingMenuPossiblePremisses:hover .possible-premisse-sandbox-added {
  background-color: rgb(105, 101, 101);
}

.future-premisse {
  display: flex;
  flex-direction: row;
}

.rule-modal-all-button-premisse {
  display: flex;
  flex-direction: row;
}
.rule-modal-keyboard-premConc-instructionText {
  font-size: 16px;
}
