.main-rules-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.list-rules {
  width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-flow: wrap;
  margin: 10px;
  padding: 10px;
  border: 1px white solid;
}

.single-rule {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  font-style: 30px;
  color: white;
  font-weight: bold;
  width: 45px;
  height: 45px;
  margin: 4px;
}

.single-rule:hover {
  color: red;
  border: 1px red solid;
}

.box-info-rule {
  height: 500px;
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  font-size: 16px;
}

.semi-box-info-rule li {
  color: white;
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding: 10px;
}

.semi-box-info-rule {
  width: 280px;
}

.yes-available-rule {
  color: rgb(0, 179, 0);
}

.soon-available-rule {
  color: rgb(58, 127, 255);
}
.later-available-rule {
  color: rgb(238, 155, 0);
}
.maybenever-available-rule {
  color: rgba(70, 70, 70, 0.972);
}

.legend-about-colors {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.legend-about-colors .legend-example {
  margin-bottom: 10px;
}

.how-to-use-that-rule {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.category-name {
  color: rgb(150, 150, 150);
  font-style: italic;
  margin-top: 20px;
  margin-left: 20px;
}
