.main-rules-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.list-rules {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  margin: 10px;
  padding: 10px;
  border: 1px white solid;
}

.single-rule {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  font-style: 30px;
  color: white;
  font-weight: bold;
  width: 45px;
  height: 45px;
  margin: 8px 8px 0 0;
}

.single-rule:hover {
  color: red;
  border: 1px red solid;
}

.disabled-rule {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px grey solid;
  background-color: rgb(56, 56, 56);
  color: grey;
  font-style: 30px;
  font-weight: bold;
  width: 45px;
  height: 45px;
  margin: 8px 8px 0 0;
}

.disabled-rule:hover {
  color: darkred;
  border: 1px darkred solid;
}

.box-info-rule {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 300px;
  border: 1px white solid;
  font-size: 16px;
}

.box-info-rule li {
  color: rgb(186, 174, 255);
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding: 10px;
}

.yes-available-rule {
  color: rgb(0, 179, 0);
}

.soon-available-rule {
  color: blue;
}
.later-available-rule {
  color: orange;
}
.maybenever-available-rule {
  color: rgba(70, 70, 70, 0.555);
}

.legend-about-colors {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 100px;
  width: 50px;
  font-size: 10px;
}

.legend-about-colors .legend-example {
  margin-bottom: 10px;
  height: 10px;
  width: 10px;
}
