.main-truth-table {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  align-items: center;
}

.whole-truth-table {
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  text-align: center;
  color: black;
}

.truth-line {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30px;
  align-items: center;
}

.info-line {
  background-color: black;
  color: white;
}

.truth-line-info {
  background-color: color;
  color: black;
}

.four-possibilities {
  display: flex;
  flex-direction: column;
}

.truth-line:hover {
  border: 1px solid red;
}

.part-of-truth-line {
  /* width: 30px; */
  border: 1px solid transparent;
  padding: 5px;
}

.box-info-truth-table {
  margin-left: 10px;
  /* justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center; */
}

/* Section des classname des catégories de lignes de la table de vérité */

.always-true {
  background-color: rgb(50, 50, 255);
}

.one-true {
  background-color: #ff9999;
}

.true-and-false {
  background-color: #8e7cc3;
}

.one-false {
  background-color: #9999ff;
}

.always-false {
  background-color: rgb(255, 50, 50);
}

.truth-table-possible-meaning {
  margin-left: 6px;
  font-style: italic;
  width: 350px;
}
